{% block base %} {% endblock %}

<footer class="w3-container w3-text-white w3-center  w3-margin-botton w3-padding-24 w3-xxlarge">
    <a  class="w3-text-white" href="https://www.facebook.com/josepedro.aguiar.1" target="_blank" ><i class="fa fa-facebook-official  w3-xlarge"></i></a>
    <a  class="w3-text-white" href="https://www.instagram.com/josepedroaguiar/" target="_blank"><i class="fa fa-instagram  w3-xlarge"></i></a>
    <a  class="w3-text-white" href="https://github.com/josePedroAguiar" target="_blank"> <i class="fa fa-github  w3-xlarge"></i></a>
    <a  class="w3-text-white" href="https://gitlab.com/jose_aguiar" target="_blank"> <i class="fa fa-gitlab w3-xlarge"></i></a>
    <a  class="w3-text-white" href="https://twitter.com/JosPedroAguiar?t=fSceoPeup8lokThrsRzRcQ&s=09" target="_blank"><i class="fa fa-twitter  w3-xlarge"></i></a>
    <a  class="w3-text-white" href="https://www.linkedin.com/in/jos%C3%A9-pedro-aguiar-219a7b225" target="_blank"><i class="fa fa-linkedin  w3-xlarge" ></i></a>
</footer>
<style>

    body {
        filter: invert();
        background-color: #ecebe7;
    }
    i:hover{
        color: #00aeff ;
    }
</style>
